.App {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: auto;
}
.new-user-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #40483a;
	position: absolute;
	box-shadow: 10px 4px 4px rgba(0, 0, 0, 0.75);
	border-radius: 20px;
	border: none;
	cursor: pointer;
	width: 236px;
	height: 90px;
	font-size: 30px;
	line-height: 100%;
	color: #ffffff;
}

.position-btn {
	display: flex;
	justify-content: flex-end;
	margin-top: 11px;
	margin-right: 20px;
}
